.contactsBlock{
    height: 100vh;
    background-color: aquamarine;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover;
}